# Ignore sensitive symlink files
git/gitconfig.symlink
nodejs/npmrc.symlink

# .home folder used to testing
.home

# booster workspace
.bb-workspace

# Ignore Atom files
atom.symlink/.*
atom.symlink/blob-store
atom.symlink/compile-cache
atom.symlink/packages
atom.symlink/storage
